@import "tailwindcss";

:root {
	--rui-primary: hsl(157 93% 48%);
	--rui-primary-foreground: hsl(300 100% 99%);
	--rui-secondary: hsl(280 45% 14%);
	--rui-secondary-foreground: hsl(300 100% 99%);
}

.dark {
	--rui-primary: hsl(157 93% 48%);
	--rui-primary-foreground: hsl(280 45% 14%);
	--rui-secondary: hsl(300 100% 99%);
	--rui-secondary-foreground: hsl(0 0% 9%);
}
