name: Deploy to Cloudflare Pages

on:
  release:
    types: [published]

jobs:
  deploy-docs:
    if: startsWith(github.event.release.tag_name, 'docs@')
    runs-on: ubuntu-latest
    permissions:
      contents: read
      deployments: write
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-node@v4
        with:
          node-version: '20.x'
          
      - uses: pnpm/action-setup@v4
          
      - name: Get version from release
        id: get_version
        run: echo "VERSION=$(echo ${{ github.event.release.tag_name }} | sed 's/docs@//')" >> $GITHUB_OUTPUT
          
      - name: Update package version
        run: |
          cd packages/docs
          npm version ${{ steps.get_version.outputs.VERSION }} --no-git-tag-version
          
      - name: Install dependencies
        run: pnpm install
        
      - name: Build documentation
        run: |
          cd packages/docs
          pnpm build

      - name: Deploy to Cloudflare Pages
        env:
          CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}
        run: npx wrangler pages deploy packages/docs/out --project-name=ui-toolkit

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "Bump docs version to ${{ steps.get_version.outputs.VERSION }}"
          file_pattern: 'packages/docs/package.json'
          branch: main
          push_options: '--force'
