name: Release Drafter

on:
  push:
    branches: [main]
    paths: ['packages/**']
  pull_request:
    types: [opened, reopened, synchronize]
    paths: ['packages/**']

permissions:
  contents: read

jobs:
  # UI Package Release Draft
  update_ui_release_draft:
    name: Update UI Release Draft
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: |
      contains(github.event.pull_request.files.*.path, 'packages/ui/') ||
      (github.event_name == 'push' && contains(github.event.head_commit.modified, 'packages/ui/'))
    steps:
      - name: Draft UI Release
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGE: 'ui'

  # Hooks Package Release Draft
  update_hooks_release_draft:
    name: Update Hooks Release Draft
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: |
      contains(github.event.pull_request.files.*.path, 'packages/hooks/') ||
      (github.event_name == 'push' && contains(github.event.head_commit.modified, 'packages/hooks/'))
    steps:
      - name: Draft Hooks Release
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGE: 'hooks'

  # Docs Package Release Draft
  update_docs_release_draft:
    name: Update Docs Release Draft
    permissions:
      contents: write
      pull-requests: write
    runs-on: ubuntu-latest
    if: |
      contains(github.event.pull_request.files.*.path, 'packages/docs/') ||
      (github.event_name == 'push' && contains(github.event.head_commit.modified, 'packages/docs/'))
    steps:
      - name: Draft Docs Release
        uses: release-drafter/release-drafter@v6
        with:
          config-name: release-drafter.yml
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PACKAGE: 'docs'
